
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row"><h2 class="float-right mt-4">مدیریت کتابخانه</h2></div>


<div class="row text-center">
<div class="col-6">
    <a asp-controller="Library" asp-action="BookList" class="btn btn-outline-primary w-100">لیست کتاب ها</a>
</div>
<div class="col-6">
    <a asp-controller="Library" asp-action="AddBook" class="btn btn-outline-success w-100">اضافه کردن کتاب</a>
</div>
</div>