@model LibraryManagement.DataTransferObjects.BookListDto;
@{
    ViewData["Title"] = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row"><h2 class="float-right mt-4">جستجو کردن</h2></div>
<hr />
<div>
    @if (TempData["EmptyName"] != null)
    {
        <h3 class="text-center mt-3 text-danger">@TempData["EmptyName"]</h3>
    }
</div>

<form asp-controller="Library" asp-action="Search" method="POST">
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="کتاب مورد نظر را بنویسید" aria-label="Search"
               aria-describedby="search-addon" name="name" />
        <input type="submit" class="btn btn-outline-primary" value="جستجو کن" />
    </div>
</form>
<hr />

<div>
    @if (TempData["Searched"] != null)
    {
        <table class="table table-striped table-dark table-bordered text-center">
            <thead>
                <tr>
                    <th>نام کتاب</th>
                    <th>حذف کتاب</th>
                    <th>جزئیات کتاب</th>
                </tr>
            </thead>
            <tr>
                <td>
                    @Model.Book
                </td>
                <td>
                    <a class="text-danger btn btn-light w-100" href="/Library/DeleteBook/@Model.Id">حذف</a>
                </td>
                <td>
                    <a class="text-info btn btn-info w-100" href="/Library/BookDetail/@Model.Id">جزئییات</a>
                </td>
            </tr>
        </table>
    }
</div>

